.footer {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 10px;
  padding: 20px;
}

.footer-pic .logo {
  align-self: center;
  margin-top: 18.7px;
  margin-left: 10px;
}

.footer-pic img {
  height: 100px;
  width: 100px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
}

.footer-docs {
  margin-left: 18px;
  text-align: left;
}

.footer-docs p {
  color: #213547;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footer h3 {
  text-align: start;
}

.footer-contacts h3 {
  margin-left: 15px;
}

.footer-link:hover,
.footer-docs p:hover {
  color: #afeae9;
}


@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    column-gap: 30px;
  }
}