#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App {
  width: 98vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #0dc7c4;
  text-align: center;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Блокировка скролла при открытой модалке */
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}